In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page =requests.getpage =requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [4]:
page

In [5]:
soup=BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [34]:
team= []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
while("" in team):
    team.remove("")
team

['New Zealand',
 'England',
 'Australia',
 'India',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan',
 'Ireland',
 'Scotland',
 'UAE',
 'Netherlands',
 'Zimbabwe',
 'Oman',
 'Namibia',
 'United States',
 'Nepal',
 'Papua New Guinea']

In [7]:
matches_t= []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches_t.append(i.text)


matches_t

['12']

In [8]:
points_t= []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points_t.append(i.text)

points_t

['1,505']

In [9]:
rating= []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace('\n','').replace(' ',''))

for i in soup2.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating

['125',
 '124',
 '107',
 '105',
 '102',
 '99',
 '95',
 '87',
 '73',
 '66',
 '54',
 '50',
 '39',
 '38',
 '35',
 '32',
 '22',
 '19',
 '17',
 '6']

In [10]:
points_b= []

for i in soup2.find_all('td',class_="table-body__cell u-center-text"):
    (points_b.append(i.text))

points_b

['19',
 '2,353',
 '18',
 '1,929',
 '22',
 '2,304',
 '16',
 '1,635',
 '19',
 '1,872',
 '24',
 '2,275',
 '24',
 '2,086',
 '26',
 '1,885',
 '15',
 '986',
 '20',
 '1,083',
 '14',
 '698',
 '15',
 '582',
 '12',
 '459',
 '14',
 '488',
 '26',
 '835',
 '11',
 '246',
 '12',
 '232',
 '14',
 '232',
 '22',
 '134']

In [11]:
matches_b= []

for i in soup2.find_all('td',class_="table-body__cell u-center-text"):
    matches_b.append(i.text)

matches_b

['19',
 '2,353',
 '18',
 '1,929',
 '22',
 '2,304',
 '16',
 '1,635',
 '19',
 '1,872',
 '24',
 '2,275',
 '24',
 '2,086',
 '26',
 '1,885',
 '15',
 '986',
 '20',
 '1,083',
 '14',
 '698',
 '15',
 '582',
 '12',
 '459',
 '14',
 '488',
 '26',
 '835',
 '11',
 '246',
 '12',
 '232',
 '14',
 '232',
 '22',
 '134']

In [23]:
matches_c = matches_b[0::2]
print ("" + str(matches_c))

['19', '18', '22', '16', '19', '24', '24', '26', '15', '20', '14', '15', '12', '14', '26', '11', '12', '14', '22']

In [26]:
points_c = points_b[1::2]
print ("" + str(points_c))

['2,353', '1,929', '2,304', '1,635', '1,872', '2,275', '2,086', '1,885', '986', '1,083', '698', '582', '459', '488', '835', '246', '232', '232', '134']

In [27]:
matches_f=matches_t + matches_c
print(matches_f)

['12', '19', '18', '22', '16', '19', '24', '24', '26', '15', '20', '14', '15', '12', '14', '26', '11', '12', '14', '22']

In [28]:
points_f=points_t + points_c
print(points_f)

['1,505', '2,353', '1,929', '2,304', '1,635', '1,872', '2,275', '2,086', '1,885', '986', '1,083', '698', '582', '459', '488', '835', '246', '232', '232', '134']

In [38]:
print(len(team),len(matches_f),len(points_f),len(rating))

20 20 20 20

In [39]:
import pandas as pd
df = pd.DataFrame({'Teams':team,'Matches':matches_f,'Points':points_f,'Rating':rating})
df

               Teams Matches Points Rating
0        New Zealand      12  1,505    125
1            England      19  2,353    124
2          Australia      18  1,929    107
3              India      22  2,304    105
4           Pakistan      16  1,635    102
5       South Africa      19  1,872     99
6         Bangladesh      24  2,275     95
7          Sri Lanka      24  2,086     87
8        West Indies      26  1,885     73
9        Afghanistan      15    986     66
10           Ireland      20  1,083     54
11          Scotland      14    698     50
12               UAE      15    582     39
13       Netherlands      12    459     38
14          Zimbabwe      14    488     35
15              Oman      26    835     32
16           Namibia      11    246     22
17     United States      12    232     19
18             Nepal      14    232     17
19  Papua New Guinea      22    134      6