In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page =requests.getpage =requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [4]:
page

In [5]:
soup=BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [6]:
name= []
for ODI_Batsman in soup.find_all('div',class_="rankings-block__banner--name-large"):
    name.append(ODI_Batsman.text)


for ODI_Batsman in soup2.find_all('tr',class_="table-body"):
    name.append(ODI_Batsman.a.text)    
name

['Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Stafanie Taylor',
 'Nida Dar',
 'Sophie Devine',
 'Sune Luus',
 'Rumana Ahmed',
 'Dane van Niekerk',
 'Salma Khatun',
 'Heather Knight',
 'Tahlia McGrath']

In [7]:
team= []
for ODI_Batsman in soup.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(ODI_Batsman.text.replace('\n','').replace(' ',''))


for ODI_Batsman in soup2.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    team.append(ODI_Batsman.find('span',class_="table-body__logo-text").text)    
team

['ENG',
 'AUS',
 'SA',
 'WI',
 'NZ',
 'AUS',
 'IND',
 'AUS',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'PAK',
 'NZ',
 'SA',
 'BAN',
 'SA',
 'BAN',
 'ENG',
 'AUS']

In [8]:
rating= []
for ODI_Batsman in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(ODI_Batsman.text)


for ODI_Batsman in soup2.find_all('td',class_="table-body__cell rating"):
    rating.append(ODI_Batsman.text)    
rating

['393',
 '374',
 '359',
 '338',
 '335',
 '269',
 '249',
 '245',
 '221',
 '217',
 '206',
 '205',
 '204',
 '202',
 '186',
 '169',
 '169',
 '167',
 '156',
 '149']

In [9]:
print(len(name),len(team),len(rating))

20 20 20

In [10]:
import pandas as pd
df = pd.DataFrame({})
df['Name']=name[:10]
df['Team']=team[:10]
df['Rating']=rating[:10]
df

               Name Team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    359
3   Hayley Matthews   WI    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8   Katherine Brunt  ENG    221
9    Jhulan Goswami  IND    217