In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page =requests.getpage =requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [4]:
page

In [5]:
soup=BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [19]:
team= []
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
while("" in team):
    team.remove("")
team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Zimbabwe']

In [7]:
matches_t= []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches_t.append(i.text)


matches_t

['29']

In [8]:
points_t= []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points_t.append(i.text)

points_t

['4,837']

In [9]:
rating= []
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace('\n','').replace(' ',''))

for i in soup2.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

rating

['167', '122', '118', '100', '97', '92', '78', '67', '42', '0']

In [10]:
points_b= []

for i in soup2.find_all('td',class_="table-body__cell u-center-text"):
    (points_b.append(i.text))

points_b

['29',
 '3,551',
 '30',
 '3,531',
 '29',
 '2,889',
 '31',
 '3,019',
 '30',
 '2,768',
 '12',
 '930',
 '28',
 '1,882',
 '6',
 '249',
 '8',
 '0']

In [11]:
matches_b= []

for i in soup2.find_all('td',class_="table-body__cell u-center-text"):
    matches_b.append(i.text)

matches_b

['29',
 '3,551',
 '30',
 '3,531',
 '29',
 '2,889',
 '31',
 '3,019',
 '30',
 '2,768',
 '12',
 '930',
 '28',
 '1,882',
 '6',
 '249',
 '8',
 '0']

In [12]:
matches_c = matches_b[0::2]
print ("" + str(matches_c))

['29', '30', '29', '31', '30', '12', '28', '6', '8']

In [13]:
points_c = points_b[1::2]
print ("" + str(points_c))

['3,551', '3,531', '2,889', '3,019', '2,768', '930', '1,882', '249', '0']

In [14]:
matches_f=matches_t + matches_c
print(matches_f)

['29', '29', '30', '29', '31', '30', '12', '28', '6', '8']

In [15]:
points_f=points_t + points_c
print(points_f)

['4,837', '3,551', '3,531', '2,889', '3,019', '2,768', '930', '1,882', '249', '0']

In [16]:
print(len(team),len(matches_f),len(points_f),len(rating))

10 10 10 10

In [17]:
import pandas as pd
df = pd.DataFrame({'Teams':team,'Matches':matches_f,'Points':points_f,'Rating':rating})
df

          Teams Matches Points Rating
0     Australia      29  4,837    167
1  South Africa      29  3,551    122
2       England      30  3,531    118
3         India      29  2,889    100
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      28  1,882     67
8     Sri Lanka       6    249     42
9      Zimbabwe       8      0      0